<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= pagetitle %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Shepherds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/animals/list">Animals</a>
            </li>
        </ul>
    </div>

    <!--<form class="form-inline">
                <div>&nbsp;</div>
                <a class="btn btn-sm btn-outline-secondary disabled" href="#">Logout</a>    </div>
     </form>-->
</nav>

<div style="margin: 20px">
    <div class="alert alert-success" role="alert" id="success-alert" style="display: none">
        This is a success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert" id="error-alert" style="display:none;">
        This is a danger alert—check it out!
    </div>

</div>
